/* .slider-container {
  position: relative;
  margin: 1% auto;
  height: 520px;
  width: 900px;
  background-color: #e6e6fa;
  display: flex;
  align-items: center;
} */
#slider {
  /* margin-let: 20%; */
  position: relative;
  /* width: 1200px; */
  /* height: 465px; */
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
#slideWrap {
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  list-style: none;
  height: 100%;
  width: 10000%;
  transition: all 750ms ease;
}
#img-element {
  position: relative;
  height: 100%;
  /* width: 100%; */
  float: left;
  object-fit: cover;
}
#list-img {
  width: 1200px;
  height: 465px;
  /* object-fit: cover; */
}
.first {
  object-fit: cover;
}
